doctype html
html
	head
		title= title
	
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		//- link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')

		block extraStyleSheets

	body
		block content

		script(src='/javascripts/jquery-1.12.1.js')
		script(src='/javascripts/bootstrap.js')

		block scripts
