extends layout
block extraStyleSheets
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/tweet.css')

block content	
	div(class="container")
		h1(class='page-header')= title
		
		
		
		div(id="main" class='row')
			div(class="tweetList col-xs-8 col-md-8")
				form(method='post' id='inputform' class="form-inline")
					div(class="form-group")
						input(type='text' id='textinput' name='query' class="form-control" value=query)
					input(type='submit' value='Submit' class="btn btn-default")
				br
				each tweet in tweets
					div(id=tweet.id class="tweet")
						h3 #{tweet.user.name}
							small   @#{tweet.user.screen_name}
						p(class="tweetText") #{tweet.text}
					br
			div(class=" col-xs-4 col-md-4 row-fluid")
				div(id="infoBox" class="nav" data-spy="affix" data-offset-top="0" )
					h2(class="page-header") Info Box
					//- p(class="h6") query
					p(id='searchTerm' class="h4") Query Term
					//- p(class="h6") result
					p(id='infoBoxtext') Query information will appear here.



block scripts
	script.
		$(document).ready(function() {

			// convert tweets to spans
			//- maybe do this searver side
			$(".tweetText").each(function () {
				// console.log($(this).text());

				var words = $(this).text().split(' ');
				$(this).html("");
				var cell = $(this);
				$.each(words, function(i,val){
					// $(this).append();
					$('<span/>').text(val ).appendTo(cell);
					cell.append(" ");
					// $(this).append(x);
				});
			});


				//- User selection check
			//- ensures user cursor hovers on term over "hoverThresholdTime"
			var timeout;
			var hoverThresholdTime = 250;
			$(".tweetText span").hover(function(){
				var selectedSpan = $(this);
				selectedSpan.css("background-color","#5bc0de");

				if (!timeout) {
					timeout = setTimeout(function threshHoldReached(){
						timeout = null;
						selectedSpan.css("background-color","#5cb85c");

						ajaxSearchRequest(selectedSpan.text(), $("#searchTerm"),$("#infoBoxtext"));					
					},hoverThresholdTime);
				}
			},function () {
				if (timeout) {
					window.clearTimeout(timeout);
					timeout = null;

				}
				else {
					$(this).css("background-color","");
				}
			});

			//- sets the display and searchbox depending on the search term given
			function ajaxSearchRequest(searchTerm,displaySearchBox, displayInfoBox){
				$.ajax({url:"/wikiSearch" ,
					method:"POST",
					data:{searchTerm : searchTerm},
				}).done(function processReturn(response ) {
					if (response.error){
						displaySearchBox.text(response.query);
						displayInfoBox.text(response.error);
						console.log(response)

					} else if (response.page){
						displaySearchBox.text(response.page.title);
						displayInfoBox.text(response.page.extract);

					}

				});	
			}

			//- unhighlight word span
			$(".tweetText span").on("mouseout", function() {
				//highlight a word when hovered     
				if ($(this).css("background-color") != "rgb(0, 0, 255)") {
					$(this).css("background-color", "");

				}
			});

		});
