extends layout
block extraStyleSheets
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/tweet.css')

block content	
	div(class="container")
		h1(class='page-header')= title
		
		form(method='post' id='inputform')
			div(class="form-group")
				input(type='text',id='textinput',name='query',value=query)
				input(type='submit',value='Submit' class="btn btn-default")
			
		br
		
		table(class='table table-striped' id='tweetTable')
			thead
				tr
					th #
					th Tweet Count
					th Text
			tbody
				each tweet in tweets
					tr
						td #{tweet.id}
						td #{tweet.text.length}
						td(class='tweetText') #{tweet.text}
		div
			h2 info box
			p(id='searchTerm')
			p(id='infoBox')



block scripts	
	script.
		$(document).ready(function() {

			// convert tweets to spans
			//- maybe do this searver side
			$("#tweetTable tr td:nth-child(3)").each(function () {
				// console.log($(this).text());

				var words = $(this).text().split(' ');
				$(this).html("");
				var cell = $(this);
				$.each(words, function(i,val){
					// $(this).append();
					$('<span/>').text(val ).appendTo(cell);
					cell.append(" ");
					// $(this).append(x);
				});
			});

			//- User selection check
			//- ensures user cursor hovers on term over "hoverThresholdTime"
			var timeout;
			var hoverThresholdTime = 250;
			$(".tweetText span").hover(function(){
				var selectedSpan = $(this);
				selectedSpan.css("background-color","CornflowerBlue");

				if (!timeout) {
					timeout = setTimeout(function threshHoldReached(){
						timeout = null;
						selectedSpan.css("background-color","green");

						ajaxSearchRequest(selectedSpan.text(), $("#searchTerm"),$("#infoBox"));					
					},hoverThresholdTime);
				}
			},function () {
				if (timeout) {
					//- $("#infoBox").text(timeout);
					window.clearTimeout(timeout);
					timeout = null;
					$(this).css("background-color","CornflowerBlue");

				}
				else {
				    $(this).css("background-color","");
				}
			});

			//- sets the display and searchbox depending on the search term given
			function ajaxSearchRequest(searchTerm,displaySearchBox, displayInfoBox){
				$.ajax({url:"/wikiSearch" ,
					method:"POST",
					data:{searchTerm : searchTerm},
				}).done(function processReturn(response ) {
					if (response.error){
						displaySearchBox.text(response.query);
						displayInfoBox.text(response.error);
						console.log(response)

					} else if (response.page){
						displaySearchBox.text(response.page.title);
						displayInfoBox.text(response.page.extract);

					}

				});	
			}

			//- unhighlight word span
			$(".tweetText span").on("mouseout", function() {
				//highlight a word when hovered     
				if ($(this).css("background-color") != "rgb(0, 0, 255)") {
					$(this).css("background-color", "");

				}
			});

		});


