/*@import 'bootstrap.less';*/
div.tweet {
	/*.border-radius( 5px );*/
	border-radius: 5px;
	border:1px solid gray;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;

}

body {
	padding-top: 25px;
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.affix{
	top:0;
	padding-right: 20px;
}
